/* FULL APP LAYOUT */
.app-layout {
  display: flex;
  min-height: 100vh;
  /* overflow: hidden; */
}

/* MAIN CONTENT */
.main-content {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  /* height: 100vh; */
}


/* MOBILE HEADER */
.mobile-header {
  display: none;
}

/* MOBILE */
@media (max-width: 768px) {

  .mobile-header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    align-items: center;
    padding: 0 16px;
    background: white;
    border-bottom: 1px solid #e5e7eb;
    z-index: 2000;
  }

  .main-content {
    margin-top: 60px;
    padding: 16px;
  }

}
